DEBUG=<true-or-false>

DB_HOST=<postgres-hostname>
DB_PORT=<postgres-port>
DB_NAME=<database-name>
DB_USER=<database-user>
DB_PASSWORD=<database-password>

AUTH_ACCESS_TOKEN_SECRET_KEY=<base64-random-32-bytes>
AUTH_REFRESH_TOKEN_SECRET_KEY=<base64-random-32-bytes>
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=<minutes>
AUTH_REFRESH_TOKEN_EXPIRE_MINUTES=<minutes>
AUTH_ALGORITHM=<jwt-algorithm>

S3_REGION=<aws-region>
S3_BUCKET_NAME=<bucket-name>
S3_BUCKET_DOMAIN=<bucket-https-endpoint>

REDIS_ENABLED=<true-or-false>
REDIS_HOST=<redis-hostname>
REDIS_PORT=<redis-port>
REDIS_DB=<redis-db-index>
REDIS_USERNAME=<redis-username>
REDIS_PASSWORD=<redis-password>

CELERY_BROKER_URL=<redis-url>
CELERY_BACKEND_URL=<redis-url>

LOG_DEBUG=<true-or-false>
LOG_FORMAT=<plain-or-json-or-uvicorn>
